.container{
    display: flex;
    flex-direction: column;
    width: 100%;

    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        width: 90%;

        .paragraphTop{
            font-family: var(--font-roboto);
            font-weight: 500;
            font-size: 14px;
            line-height: 17.6px;
            text-align: center;
            color: var(--orange-text);

            @media(min-width: 375px) {
                font-size: 16px;
            }
        }
        
        h2{
            margin-top: 10px;
            margin-bottom: 20px;

            @media(min-width: 375px) {
                font-size: 34px;
            }
        }

        #paragraphyID{
            font-size: 14px;
            text-align: center;
            z-index: 1;

            @media(min-width: 375px) {
                font-size: 16px;
            }

            @media(min-width: 425px) {
                font-size: 18px;
            }
        }
    }

    .ball{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: -33px;

        @media(min-width: 768px) {
            margin-top: 20px;
        }

        .yellowBall{
            margin-left: -100px;
            width: 245px;
            height: 246px;

            @media (min-width: 425px) {
                width: 50%;
                height: auto;
            }

            @media(min-width: 768px) {
                width: 380px;
                height: 420px;
            }
        }

        .purpleBall{
            width: 205px;
            height: 205px;
            margin-top: 103px;
            margin-right: -130px;

            @media (min-width: 426px) {
                width: 50%;
                height: auto;
            }

            @media(min-width: 768px) {
                width: 320px;
                height: 380px;
            }
        }
    }

    .divImage{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: -205px;

        .image{
            width: 95%;
            height: auto;
            z-index: 2;
            position: relative;

            @media (min-width: 375px) {
                width: 90%;
            }

            @media (min-width: 425px) {
                width: 85%;
            }

            @media (min-width: 435px) and (max-width: 505px) {
                margin-top: -50px;
            }

            @media (min-width: 506px) and (max-width: 589px) {
                margin-top: -80px;
            }

            @media (min-width: 570px) and (max-width: 620px) {
                margin-top: -110px;
            }

            @media (min-width: 621px) and (max-width: 674px) {
                margin-top: -130px;
            }

            @media (min-width: 675px) and (max-width: 720px) {
                margin-top: -170px;
            }

            @media (min-width: 721px) and (max-width: 767px) {
                margin-top: -150px;
            }

            @media(min-width: 768px) {
                width: 85%;
                height: auto;
                margin-top: -205px;
            }
        }
    }

}