.header {
    width: 100%;
    height: auto;
    background-image: url('../Header/photo.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 75%;
    
    position: relative;

    @media(min-width: 425px) {
        background-size: 80%;
    }

    @media(min-width: 768px) {
        background-size: 45% ;
    }

    @media (min-width: 1024px) {
        background-image: 40%;
    }
    
    .navBar {
        width: 90%; 
        height: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px; 

        @media(min-width: 375px) {
            margin-bottom: 40px;
        }

        @media(min-width: 425px) {
            margin-bottom: 80px;
        }

        @media (min-width: 768px) {
            margin-bottom: -200px;
        }

        .navLeft {
            display: flex;
            align-items: center;
            width: 50%;
            
            @media(min-width: 1024px) {
                width: 100%;
                margin-top: -200px;
                display: flex;
                justify-content: space-between;
            }

            .divleft{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 26px;

                #h1{
                    margin-top: -240px;
    
                    @media(min-width: 375px) {
                        font-size: 35px;
                        margin-top: -230px;
                    }
    
                    @media(min-width: 768px) {
                        font-size: 40px;
                    }
    
                    @media(min-width: 1024px) {
                        margin-top: 20px;
                    }
    
                }
                
                ul {
                    display: none;
                    gap: 20px;
    
                    @media(min-width: 1024px) {
                        display: flex;
                        gap: 16px;
                    }

                    li{
                        cursor: pointer;
                        border-bottom: 1px solid transparent;

                        &:hover{
                            border-bottom: 1px solid var(--black-text);
                            transition: 0.3s;
                        }
                    }
                }
            }


            .navRightButton{
                display: none;

                .buttonTel{
                    @media(min-width: 1024px) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        width: 167px;
                        height: 48px;
                        background-color: transparent;
                        border: none;
                        color: #0369A1;
                    }
                }

                #req{

                    @media (min-width: 1024px) {
                        width: 220px;
                        height: 58px;
                        display: flex; 
                        justify-content: space-between; 
                        
                        &:hover{
                            background-color: var(--purple);
                            color: var(--yellow);
                            transition: 0.3s;
                        }
                    }

                    @media (min-width: 1440px) {
                        width: 306px;
                        height: 64px;
                        display: flex; 
                        justify-content: space-evenly; 
                        align-items: center;
                        font-size: 24px;
                        padding: 20px 24px;
                        
                        &:hover{
                            background-color: var(--purple);
                            color: var(--yellow);
                            transition: 0.3s;
                        }
                    }
                }

                @media(min-width: 1024px) {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 489px;
                    height: 64px;
                    margin-right: 30px;
                }

            }
        }

        .navRight {
            display: none;
            gap: 10px;
            
            button {
                display: none;
    
                &:hover {
                    background-color: #e2e6ea; 
                }

                @media(min-width: 1024px) {
                    display: inline-block;
                }
            }
        }

        .menuIcon {
            display: none; 

            @media(min-width: 768px) and (max-width: 1023px) {
                display: flex; 
                cursor: pointer;
                font-size: 24px;
                margin-bottom: 250px;
            }
        }

    }

    @keyframes slideRightToLeft {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0); 
            opacity: 1;
        }
    }

    @keyframes slideLeftToRight {
        0% {
            transform: translateX(0); 
            opacity: 1;
        }
        100% {
            transform: translateX(100%); 
            opacity: 0;
        }
    }

    .modal {
        position: absolute;
        top: -50px;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        display: flex;
        justify-content: flex-end; 
        align-items: flex-start; 
        z-index: 1000;
        animation: slideRightToLeft 0.3s ease forwards; 
        &.modalClosing {
            animation: slideLeftToRight 0.3s ease forwards; 
        }
    }

    .modalContent {
        position: relative;
        background-color: #e3d8f1;
        padding: 40px;
        border-radius: 8px;
        width: 80%;
        max-width: 400px;
        margin-top: 50px; 
        text-align: center;
        animation: slideDown 0.5s ease; 

        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 20px;
            width: 30%;
            margin: 0 auto;

            li {
                margin-bottom: 10px;
                font-size: 18px;
                border-bottom: 1px solid transparent;
                cursor: pointer;

                &:hover{
                    border-bottom: 1px solid var(--black-text);
                    transition: 0.3s;
                }
            }
        }

        .navRightModal {
            display: flex;
            flex-direction: column;
            align-items: center;

            .tel{

                @media (min-width: 768px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    width: 167px;
                    height: 48px;
                    background-color: transparent;
                    border: none;
                    color: #0369A1;
                    border-bottom: 1px solid transparent;

                    &:hover{
                        border-bottom: 1px solid #0369A1;
                        transition: 0.3s;
                    }
                }
            }

            #btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 88%;
                font-size: 18px;
                font-weight: 700;

                svg {
                    margin-left: 40px;
                }

                &:hover{
                    background-color: var(--purple);
                    color: var(--yellow);
                    transition: 0.3s;
                }
            }
        }

        .closeButton {
            position: absolute;
            top: 24px;
            right: 35px;
            color: var(--black-text);
            border: none;
            font-size: 24px;
            cursor: pointer;
            border-radius: 10px;

            &:hover{
                background-color: var(--purple);
                color: var(--yellow);
                transition: 0.3s;
            }
        }
    }

    .viverra {
        width: 90%;
        height: 580px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        gap: 24px;

        @media (min-width: 426px) and (max-width: 440px) {
            margin-top: 20%;
        }

        @media (min-width: 441px) and (max-width: 575px) {
            margin-top: 30%;
        }

        @media (min-width: 576px) and (max-width: 620px) {
            margin-top: 40%;
        }

        @media (min-width: 621px) and (max-width: 695px) {
            margin-top: 45%;
        }

        @media (min-width: 696px) and (max-width: 767px) {
            margin-top: 52%;
        }

        @media(min-width: 768px) {
            width: 50%;
            display: flex;
            align-items: flex-start;
            margin: 0;
            margin-left: 35px;
        }

        @media (min-width: 1024px) {
            width: 35%;
            margin-left: 53px;
        }

        
        h1{
            text-align: center;
            width: 100%;
            font-size: 36px;
            
            @media(min-width: 375px) {
                font-size: 40px;
            }
            
            @media(min-width: 768px) {
                width: 90%;
                text-align: start;
            }

            @media(min-width: 1024px) {
                margin-bottom: 10px;
            }

            @media (min-width: 1440px) {
                font-size: 72px;
                line-height: 79.2px;
                width: 120%;
            }
        }
        
        #bigP {
            color: black;
            text-align: center;
            font-size: 15px;

            @media(min-width: 375px) {
                font-size: 18px;
            }

            @media(min-width: 768px) {
                font-size: 15px;
                text-align: start;
            }

            @media (min-width: 1440px) {
                font-size: 24px;
                line-height: 38.4px;
                width: 120%;
            }
        }

        button {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 88%;
            font-size: 18px;
            font-weight: 700;

            svg{

            }

            &:hover{
                background-color: var(--purple);
                color: var(--yellow);
                transition: 0.3s;
            }

            @media(min-width: 768px) {
                width: 75%;
                height: 52px;
                font-size: 18px;
            }

            @media (min-width: 1440px) {
                width: 306px;
                height: 64px;
                display: flex; 
                justify-content: space-evenly; 
                align-items: center;
                font-size: 24px;
                padding: 20px 24px;
                margin-bottom: 40px;
            }
        }

        #smallP{
            margin-top: 30px;
            text-align: start;

            @media(min-width: 768px) {
                width: 100%;
                font-size: 14px;
            }

            @media (min-width: 1440px) {
                font-size: 18px;
                line-height: 28.8px;
                width: 120%;
            }
        }

        .blocoGirl {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            width: 100%;
            
            .dadosGirl{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-top: 5px;
                gap: 5px;

                p{
                    @media (min-width: 1440px) {
                        font-size: 18px;
                        line-height: 28.8px;
                    }
                }

                small{
                    color: #475569;

                    @media (min-width: 1440px) {
                        font-size: 16px;
                        line-height: 22.4px;
                    }
                }
            }
        }
    }
    margin-bottom: 100px;
}
