.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  animation: slideIn 0.3s forwards;

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (min-width: 1024px) {
    width: 100%;
  }

  .cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    gap: 20px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
    animation: slideInLeft 0.3s forwards;
    transform: translateX(calc(-100% * #{currentIndex}));

    &.slide-left {
      animation: slideInLeft 0.3s forwards;
    }
    
    &.slide-right {
      animation: slideInRight 0.3s forwards;
    }
  
    @keyframes slideInLeft {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    @keyframes slideInRight {
      0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @media (min-width: 1024px) {
      overflow-x: auto; 
      scroll-behavior: smooth;
      flex-wrap: nowrap;
      justify-content: flex-start; 
      width: 90%;
      transform: translateX(calc(-100% * #{currentIndex}));
    }
  }

  .card {
    background-color: white;
    width: 90%;
    border-radius: 10px;
    padding: 40px 16px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    margin: 0 auto;
    animation: slideInRight 0.3s forwards;
    transform: translateX(calc(-100% * #{currentIndex}));

    &.slide-left {
      animation: slideInLeft 0.3s forwards;
    }
    
    &.slide-right {
      animation: slideInRight 0.3s forwards;
    }

    @keyframes slideInLeft {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    @keyframes slideInRight {
      0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @media (min-width: 1024px) {
      transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
      position: relative;
      opacity: 1;
      z-index: 1;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 30%;
      flex: 0 0 auto;
    }

    &.active {
      transform: translateX(0);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      z-index: 10;

      @media (min-width: 1024px) {
        width: 35%;
        height: 500px; 
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
      }

      @media (min-width: 1440px) {
        width: 30%;
        height: 400px;
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
      }
    }

    #pTop {
      font-size: 14px;
      margin-top: 40px;
      text-align: start;
      width: 95%;

      @media (min-width: 375px) {
        font-size: 16px;
      }

      @media (min-width: 425px) {
        font-size: 18px;
      }
    }

    .divUser {
      display: flex;
      align-items: center;
      margin-top: 26px;
      gap: 20px;

      .comments {
        display: flex;
        flex-direction: column;

        .p {
          color: #475569;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .card {
      width: 48%;
    }
  }

  @media (min-width: 1024px) {
    .card {
      width: 30%;
    }
  }

  .divButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 0 auto;

    @media (min-width: 1024px) {
      width: 10%;
      align-items: flex-start;
      justify-content: center;
      gap: 30px;
      margin-left: 80px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 2px solid var(--yellow);
      color: var(--yellow);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: var(--yellow);
        color: #78350f;
      }
    }
  }
}
