.section{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 60px;
    background-image: url("../PServices/purple.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 90% 523px;
    margin-bottom: 100px;

    @media(min-width: 767px) {
        background-size: 95% 619px;
    }

    @media(min-width: 768px) {
        background-size: 95% 620px;
    }

    @media(min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-size: 37% 950px;
        margin-top: 40px;
    }

    .divImage {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 1024px) {
            width: 35%;
            margin-top: 40px;
            margin-left: 20px;
        }

        #big {
            width: 220px;
            height: 471px;
            margin-right: 20px;
            margin-bottom: 20px;
            position: relative;

            @media(min-width: 521px) and (max-width: 767px) {
                width: 60%;
                height: auto;
            }

            @media(min-width: 768px) {
                width: 35%;
                height: auto;
            }

            @media (min-width: 1024px) {
                width: 420px;
                height: 900px;
                margin-left: 40px;
            }
        }

        #small {
            width: 32.8%;
            height: auto;
            position: absolute;
            z-index: 1;
            top: 30%; 
            left: 64.5%;

            @media (min-width: 321px) and (max-width: 322px) {
                width: 32%;
                left: 64.5%;
                height: auto;
            }

            @media (min-width: 323px) and (max-width: 335px) {
                width: 32%;
                left: 64.8%;
                height: auto;
            }

            @media (min-width: 336px) {
                width: 30.4%;
                left: 64%;
            }

            @media (min-width: 337px) and (max-width: 338px) {
                width: 30.3%;
                left: 64%;
            }

            @media (min-width: 339px) and (max-width: 357px) {
                width: 29.3%;
                left: 63.3%;
            }

            @media (min-width: 358px) and (max-width: 374px) {
                width: 28.5%;
                left: 62.5%;
            }

            @media (min-width: 375px) {
                width: 27.5%;
                left: 62%;
            }

            @media (min-width: 376px) and (max-width: 389px) {
                width: 27.5%;
                top: 30%;
                left: 62.6%;
            }

            @media (min-width: 390px) and (max-width: 407px) {
                width: 26%;
                left: 61.7%;
            }

            @media (min-width: 408px) and (max-width: 424px) {
                width: 24.5%;
                left: 61%;
            }

            @media (min-width: 425px) and (max-width: 433px) {
                width: 24.5%;
                left: 61%;
            }

            @media (min-width: 434px) and (max-width: 489px) {
                width: 22%;
                left: 60%;
            }

            @media (min-width: 490px) and (max-width: 520px) {
                width: 21%;
                left: 59.6%;
            }

            @media(min-width: 521px) and (max-width: 767px) {
                top: 29.7%;
                left: 63.5%;
                width: 28.6%;
            }

            @media(min-width: 768px){
                width: 28.9%;
                height: 157px;
                top: 29.6%;
                left: 51.5%;
            }

            @media (min-width: 800px) and (max-width: 1023px) {
                width: 16.5%;
                left: 57.8%;
                height: auto;
            }

            @media (min-width: 1024px) and (max-width: 1720px) {
                width: 47.4%;
                top: 33.2%;
                left: 78.5%;
                height: auto;
            }

            @media (min-width: 1062px) and (max-width: 1090px) {
                top: 32.6%;
                width: 47.5%;
                left: 77.8%;
                height: auto;
            }

            @media (min-width: 1091px) and (max-width: 1157px) {
                top: 31.2%;
                width: 48.5%;
                left: 77%;
                height: auto;
            }

            @media (min-width: 1200px) and (max-width: 1320px) {
                top: 30.5%;
                width: 43.5%;
                left: 75%;
                height: auto;
            }

            @media (min-width: 1340px) and (max-width: 1439px) {
                top: 30.2%;
                width: 43.5%;
                left: 74.8%;
                height: auto;
            }

            @media (min-width: 1440px) and (max-width: 1720px) {
                width: 40.4%;
                top: 30.4%;
                left: 73.5%;
                height: auto;
            }
        }
    }


    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        gap: 26px;

        @media (min-width: 1024px) {
            width: 45%;
        }

        .top{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 26px;
            margin-bottom: 60px;
            position: relative;

            @media (min-width: 1024px) {
                align-items: flex-start;
            }

            #pYellow{
                color: var(--orange-text);
                position: absolute;
                top: -25px;

                @media (min-width: 1024px) {
                    text-align: start;
                }
            }

            h2{
                font-size: 29px;

                @media(min-width: 375px) {
                    font-size: 31px;
                }
    
                @media(min-width: 425px) {
                    font-size: 32px;
                }
            }

            #pSmall{
                font-size: 14px;
                text-align: center;
                width: 103.5%;

                @media(min-width: 375px) {
                    font-size: 15.9px;
                    width: 101%;
                }
    
                @media(min-width: 425px) {
                    font-size: 16px;
                    width: 91%;
                }

                @media (min-width: 1024px) {
                    text-align: start;
                    font-size: clamp(0.875rem, 1vw, 1.125rem);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }
            }
        }

        article{
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 26px;

            @media(min-width: 767px) {
                margin-bottom: 40px;
            }

            @media(min-width: 768px) {
                margin-bottom: 40px;
            }

            @media (min-width: 1024px) {
                width: 100%;
            }

            .information{
                width: 45%;
                gap: 26px;
                text-align: center;
                margin-bottom: 48px;

                @media (min-width: 1024px) {
                    width: 45%;
                    align-items: flex-start;
                }

                #strong{
                    margin-bottom: 25px;
                    width: 100%;
                    font-size: 19px;

                    @media(min-width: 375px) {
                        font-size: 20px;
                    }

                    @media (min-width: 1024px) {
                        text-align: start;
                    }
                }

                #p{
                    width: 100%;
                    font-size: 13px;

                    @media(min-width: 375px) {
                        font-size: 15px;
                        width: 98%;
                    }
        
                    @media(min-width: 425px) {
                        font-size: 16px;
                        width: 91%;
                    }

                    @media (min-width: 1024px) {
                        text-align: start;
                        width: 100%;
                        font-size: clamp(0.875rem, 1vw, 1.125rem);
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}