.section{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 60px;
    background-image: url("../PServices/purple.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 90% 523px;
    margin-bottom: 100px;

    .divImage{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        #big{
            width: 220px;
            height: 471px;
            margin-right: 20px;
            margin-bottom: 20px;

            @media(min-width: 375px) {
                margin-bottom: 30px;
            }

            @media(min-width: 425px) {
                margin-bottom: 35px;
            }
        }
    
        #small{
            width: 200px;
            height: 128.5px;
            position: absolute;
            z-index: 1;
            top: 148px;
            right: -38px;

            @media(min-width: 375px) {
                top: 148px;
                right: -11px;
            }

            @media(min-width: 425px) {
                right: 15px;
                top: 147px;
            }
        }
    }


    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        gap: 26px;

        .top{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 26px;
            margin-bottom: 60px;
            position: relative;

            #pYellow{
                color: var(--orange-text);
                position: absolute;
                top: -25px;
            }

            h2{
                font-size: 29px;

                @media(min-width: 375px) {
                    font-size: 31px;
                }
    
                @media(min-width: 425px) {
                    font-size: 32px;
                }
            }

            #pSmall{
                font-size: 14px;
                text-align: center;
                width: 103.5%;

                @media(min-width: 375px) {
                    font-size: 15.9px;
                    width: 101%;
                }
    
                @media(min-width: 425px) {
                    font-size: 16px;
                    width: 91%;
                }
            }
        }

        article{
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 26px;

            .information{
                width: 45%;
                gap: 26px;
                text-align: center;
                margin-bottom: 48px;

                #strong{
                    margin-bottom: 25px;
                    width: 100%;
                    font-size: 19px;

                    @media(min-width: 375px) {
                        font-size: 20px;
                    }
                }

                #p{
                    width: 100%;
                    font-size: 13px;

                    @media(min-width: 375px) {
                        font-size: 15px;
                        width: 98%;
                    }
        
                    @media(min-width: 425px) {
                        font-size: 16px;
                        width: 91%;
                    }
                }
            }
        }
    }
}