.section {
    width: 100%;
    background-color: var(--purple);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../AllThePower/purpleBall.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 40%;
    position: relative;

    .container {
        width: 90%;
        margin: 0 auto;

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: relative;
            margin-bottom: 40px;

            #pYellow {
                color: var(--yellow);
                position: absolute;
                top: -25px;
                margin-top: 35px;
            }

            h2 {
                margin-top: 40px;
                color: white;
                font-size: 2rem;  // Usando rem para responsividade

                @media (min-width: 425px) {
                    font-size: 2.5rem;
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 26px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 88%;
                font-size: 1rem;  // Usando rem para responsividade
                font-weight: 700;

                svg {
                    margin-left: 40px;
                }

                &:hover {
                    background-color: var(--yellow);
                    color: #78350F;
                    transition: 0.3s;
                }
            }

            #pBottom {
                color: white;
                font-weight: 400;
            }
        }

    }

    #image {
        width: 90%;
        margin-top: 50px;
        height: auto;

        @media (min-width: 768px) {
            width: 70%;
        }
    }
}
