.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../Powerful/yellow.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 90% 600px;
    margin-bottom: 120px;

    @media(min-width: 375px) {
        background-size: 90% 580px;
    }

    @media(min-width: 425px) {
        background-size: 90% 530px;
    }

    @media(min-width: 768px) {
        background-size: 95% 730px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        gap: 36px;
        position: relative;

        #pYellow{
            color: var(--orange-text);
            position: absolute;
            top: -25px;
        }

        h2{
            font-size: 29px;

            @media(min-width: 375px) {
                font-size: 31px;
            }

            @media(min-width: 425px) {
                font-size: 32px;
            }
        }

        #pSmall{
            font-size: 14px;
            text-align: center;
            width: 103.5%;

            @media(min-width: 375px) {
                font-size: 15.9px;
                width: 101%;
            }

            @media(min-width: 425px) {
                font-size: 16px;
                width: 91%;
            }

            @media(min-width: 768px) {
                font-size: 16px;
                width: 91%;
            }
        }

        article{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 26px;

            .information{
                width: 45%;
                margin-bottom: 40px;
                text-align: center;

                #pBig{
                    margin-bottom: 26px;
                    font-size: 19px;

                    @media(min-width: 375px) {
                        font-size: 20px;
                    }
                }

                #pSmall{
                    width: 100%;
                    font-size: 13px;

                    @media(min-width: 375px) {
                        font-size: 15px;
                        width: 98%;
                    }
        
                    @media(min-width: 425px) {
                        font-size: 16px;
                        width: 91%;
                    }
                }
            }
        }
    }

    .divImage{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        #big{
            width: 228px;
            height: 491px;

            @media(min-width: 375px) {
                margin-top: 70px;
            }

            @media(min-width: 425px) {
                margin-top: 35px;
            }

            @media(min-width: 768px) {
                width: 330px;
                height: auto;
            }
        }
    
        #small{
            width: 58px;
            height: 58px;
            position: absolute;
            z-index: 1;
            top: 305px;
            right: -10px;

            @media(min-width: 375px) {
                top: 374px;
                right: -11px;
            }

            @media(min-width: 425px) {
                right: -11px;
                top: 338px;
            }

            @media(min-width: 768px) {
                width: 80px;
                height: 80px;
                top: 461px;
                right: -12px;
            }
        }
    }
}