.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../Powerful/yellow.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 90% 600px;
    margin-bottom: 120px;

    @media(min-width: 375px) {
        background-size: 90% 580px;
    }

    @media(min-width: 425px) {
        background-size: 90% 530px;
    }

    @media(min-width: 768px) {
        background-size: 95% 730px;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        background-size: 38% 1100px;
        width: 100%;
        padding-top: 80px;
        margin-top: 60px;
    }

    @media (min-width: 1440px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        background-size: 36% 1100px;
        width: 100%;
        padding-top: 80px;
        margin-top: 60px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        gap: 36px;
        position: relative;

        @media (min-width: 1024px) {
            width: 55%;
            align-items: flex-start;
            margin-right: 30px;
        }

        #pYellow{
            color: var(--orange-text);
            position: absolute;
            top: -25px;

            @media (min-width: 1024px) {
                font-size: 20px;
                line-height: 22px;
            }
        }

        h2{
            font-size: 29px;

            @media(min-width: 375px) {
                font-size: 31px;
            }

            @media(min-width: 425px) {
                font-size: 32px;
            }

            @media (min-width: 1024px) {
                font-size: 56px;
                line-height: 61.6px;
            }
        }

        #pSmall{
            font-size: 14px;
            text-align: center;
            width: 103.5%;

            @media(min-width: 375px) {
                font-size: 15.9px;
                width: 101%;
            }

            @media(min-width: 425px) {
                font-size: 16px;
                width: 91%;
            }

            @media(min-width: 768px) {
                font-size: 16px;
                width: 91%;
            }

            @media (min-width: 1024px) {
                font-size: clamp(0.875rem, 1vw, 1.125rem);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: start;
                margin-bottom: 100px;
                width: 100%;
            }
        }

        article{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 26px;

            @media (min-width: 1024px) {
                width: 100%;
                align-items: flex-start;
            }

            .information{
                width: 45%;
                margin-bottom: 40px;
                text-align: center;

                @media (min-width: 1024px) {
                    width: 45%;
                    align-items: flex-start;
                }

                #pBig{
                    margin-bottom: 26px;
                    font-size: 19px;

                    @media(min-width: 375px) {
                        font-size: 20px;
                    }

                    @media (min-width: 1024px) {
                        font-size: 24px;
                        line-height: 26.4px;
                        text-align: start;
                    }
                }

                #p{
                    width: 100%;
                    font-size: 13px;

                    @media(min-width: 375px) {
                        font-size: 15px;
                        width: 98%;
                    }
        
                    @media(min-width: 425px) {
                        font-size: 16px;
                        width: 91%;
                    }

                    @media (min-width: 1024px) {
                        font-size: clamp(0.875rem, 1vw, 1.125rem);
                        display: -webkit-box;
                        -webkit-line-clamp: 2; 
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: start;
                    }
                }
            }
        }
    }

    .divImage{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media (min-width: 1024px) {
            width: 35%;
            margin-top: -100px;
        }
        
        #big{
            width: 228px;
            height: 491px;

            @media(min-width: 375px) {
                margin-top: 70px;
            }

            @media(min-width: 425px) {
                margin-top: 35px;
            }

            @media(min-width: 768px) {
                width: 330px;
                height: auto;
            }

            @media (min-width: 1024px) {
                width: 420px;
                height: 900px;
                margin-right: 40px;
                margin-top: 40px;
            }

            @media (min-width: 1440px) {
                width: 420px;
                height: 900px;
                margin-right: 40px;
                margin-top: 40px;
            }
        }
    
        #small{
            width: 58px;
            height: 58px;
            position: absolute;
            z-index: 1;
            top: 305px;
            right: -10px;

            @media(min-width: 375px) {
                top: 374px;
                right: -11px;
            }

            @media(min-width: 425px) {
                right: -11px;
                top: 338px;
            }

            @media(min-width: 768px) {
                width: 80px;
                height: 80px;
                top: 461px;
                right: -12px;
            }

            @media (min-width: 1024px) {
                    width: 95px;
                    height: 95px;
                    top: 580.8px;
                    right: 0.3px;
            }

            @media (min-width: 1440px) {
                width: 105px;
                height: 105px;
                top: 596.8px;
                right: 42.3px;
        }
        }
    }
}